<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.dbm.traveldbm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".service.HotelRequestService" />
        <service android:name=".AmadeusService" />

        <provider
            android:name=".data.CollectionProvider"
            android:authorities="com.apps.dbm.traveldbm"
            android:exported="false" />

        <receiver android:name=".widget.FavoriteAppWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info" />
        </receiver>

        <activity android:name=".activities.MainActivity">
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.dbm.traveldbm.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.HotelResultsActivity"
            android:parentActivityName=".activities.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.dbm.traveldbm.activities.SearchActivity" />
        </activity>
        <activity
            android:name=".activities.HotelDetailActivity"
            android:parentActivityName=".activities.HotelResultsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.dbm.traveldbm.activities.HotelResultsActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/MAPS_API_KEY" />

        <activity
            android:name=".activities.FavoritesActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.apps.dbm.traveldbm.activities.MainActivity" />
        </activity>

        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>